{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://i.pinimg.com/originals/ec/11/7a/ec117a2614aad453a8b8f1a7d00cb7ce.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <p>Rất công bằng, hết lòng vì việc chung. Thuộc một vế trong thành ngữ “chí công vô tư”, chỉ người tận tụy với việc công, việc nước, biết tôn trọng lẽ phải, công tâm trong ứng xử, đặt quyền lợi chung lên hàng đầu. Trong bài Thiên vấn phú của Phan Bội Châu có câu “Vẫn từng nghe thiên đạo chí công, há lẽ cường phù nhược ức: Vẫn cũng biết thiên ân phổ biến, vì sao bị sắc tư phong”.</p>
        <p>Trong cuộc sống thường ngày, chúng ta đối mặt với rất nhiều điều phải xử lý như: Công việc, gia đình, bạn bè, kinh doanh, đối tác,… Tất cả đều chiếm thời gian của ta rất nhiều và có khi chúng ta không còn thời gian rảnh, công việc cứ tới liên tục liên tục khiến ta phải giải quyết, các công việc này có khi không phải là những việc mà ta ưa thích lại càng khiến ta căng thẳng và mệt mỏi. Vậy thì làm sao để sống cuộc đời ý nghĩa và phúc hơn mỗi ngày? Vâng, thời gian một ngày có hạn và trong cuộc đời này cũng thế, ta nên chọn các công việc mà ta yêu thích để khi làm việc chúng ta sẽ cảm thấy yêu đời và yêu việc, để không còn nhàm chán và vơi đi mệt mỏi, như thế sẽ làm cuộc sống có ý nghĩa hạnh phúc hơn.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}